@import "colours.less";
@import "positioning.less";

#charity {
	.column {
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		background-color: white;

		ul.nav.nav-tabs {
			.extend-content-to-sides(@bs-column-padding);
			background-color: @charity-page-greyline;
			border: none;
			li {
				margin-bottom: 0;

				/* Override Bootstrap bg colours & bring active tab to front */
				background-color: transparent;
				z-index: 9;
				&.active {
					background-color: transparent;
					z-index: 10;
				}


				a, &.active a {
					/* Remove blue border when clicked */
					&:active {
						border: none;
						outline: none;
					}

					border: none;
					border-radius: 0;
					margin: 0;
					z-index: 9;
					padding-bottom: 0;
					font-weight: bold;
					/* Remove bootstrap background */
					background-color: transparent;
					/* Fancy tab shape */
					&:before {
						content: ''; 
						position: absolute;
						top: -5px; right: 0; bottom: 0; left: 0;
						transform: perspective(110px) rotateX(30deg);
						transform-origin: bottom;
						margin-left: -10px;
						margin-right: -10px;	
					}
				}

				a:before {
					background-color: @charity-page-greyline;
					z-index: -1;
				}
				&.active a:before {
					background-color: @charity-page-greybg;
					z-index: -2;
				}
			}
		}
	}

	.top-bands {
		position: fixed;
		top: @navbar-height;
		left: 0;
		width: 100%;
		.band1 {
			background: linear-gradient(to right, #819EB7, #C1DEF2);
			height: @band-1-height;
		}
		.band2 {
			background: linear-gradient(to right,#ACB09F, #D2D6C3);
			height: @band-2-height;
		}
		.band3 {
			background: linear-gradient(to right, #819EB7, #C1DEF2);
			height: @band-3-height;
		}
	}

	.impact-column {
		.header {
			background: #C1DEF2;
			.extend-bg-to-sides(@bs-column-padding);
			padding-top: @band-1-height;
			margin-bottom: 50px;

			.charity-name {
				background-color: #D2D6C3;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 0;
				.extend-bg-to-sides(@bs-column-padding);
				line-height: @band-2-height;
			}
			.tags {
				color: white;
				text-transform: lowercase;
				margin-top: 0;
				margin-bottom: 0;
				border-left: 0;
				.extend-content-to-sides(@bs-column-padding);

				span {
					line-height: 32px;
				}

				&.why-tags {					
					span {
						border-left: 15px solid @why-tags;
						background-color: @why-tags-fade;
					}
				}
				&.where-tags {					
					span {
						border-left: 15px solid @where-tags;
						background-color: @where-tags-fade;
					}
				}

				a {
					color: inherit;
				}

			}

		}
	} // ./.impact-column

	.info-column {
		height: 100%;
		/* hide long urls */
		overflow-x: hidden;

		.header {
			.extend-bg-to-sides(@bs-column-padding);
			background-color: #D2D6C3;
			border-style: solid;
			border-top-color: #C1DEF2;
			border-bottom-color: #C1DEF2;
			border-width: @band-1-height 0 @band-3-height 0;
			line-height: @band-2-height;
			margin-bottom: 50px;
		}

		.nav-tabs {
			li {
				background-color:white;
				&.active {
					background-color: @charity-page-greybg;
				}
			}
			font-size: 2em;
		}

		.tab-content {
			.extend-bg-to-sides(@bs-column-padding);
			background-color: @charity-page-greybg;
		}

		h2, h3 {
			border-bottom: 1px solid white;
		}

		.charity-about, .charity-extra {
			/* Prevent margin collapse with first element so bg colour extends to top */
			overflow-y: auto; 
			// overflow-x:auto leads to an unwanted scrollbar on narrow screens e.g. seen here on linux desktop http://local.sogive.org/#charity?charityId=voluntary-service-overseas-vso
			overflow-x: hidden;
		}

		.charity-about {
			@circles-width: 320px;
			@big-circle: (@circles-width * 0.6545);
			@small-circle: (@circles-width * 0.4727);

			.images {
				position: relative;
				height: 225px;
				width: @circles-width;
				margin: 40px auto;

				.charity-image, .charity-logo {
					position: absolute;
					bottom: 0;
					background-size: contain;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						border-radius: 50%;
						object-fit: contain;
						background-color: white;
					}
				}

				
				.charity-image {
					z-index: 10;
					left: 0;
					background-image: url(/img/circle-bg-left.svg);
					height: @big-circle;
					width: @big-circle;
					img {
						height: 85%;
						width: 85%;
					}
				}
				.charity-logo {
					z-index: 20;
					right: 0;
					background-image: url(/img/circle-bg-right.svg);
					height: @small-circle;
					width: @small-circle;
					img {
						width: 70%;
						height: 70%;
					}
				}
			}

			.descriptions {
				.description-short {
					font-size: 120%;
				}

				.description-long {

				}
			}

			.url {
				font-size: 120%;
				width: 100%;
				text-align: center;
			}
		}

		.charity-extra {
			background-color: @charity-page-greybg;
			
			.extra-project {
				img.project-image {
					width: 100%;
				}
				.project-stories{
					.quote {
						color: @donation-number-fg;
					}
				}
			}
		} // ./charity-extra
	} // ./info-column


	.donation-impact {
		background-color: white;
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

		/* Appear in front of the social share buttons */
		position: relative;
		z-index: 10;

		.project-image {
			img {
				width: 100%;
				max-height: 500px;
				min-height: 50px;
				object-fit: contain;
			}
		}

		/* Columns populated with only position: absolute elements don't naturally have height - so when they stack on mobile they collide */
		.left-column, .right-column {
			height: 200px;
		}

		.donation-buttons {
			position: absolute;
			width: 150px;
			height: 200px;
			color: @donation-amt-fg;
			/* Must appear in front of the left side of the donation input box but behind everything else - to make the box clickable */
			z-index: 10;

			img.donation-sun {
				height: 200px;
				position: absolute;
			}

			button.donation-up, button.donation-down {
				position: absolute;
				padding: 0;
				border: 5px solid @donation-amt-fg;
				border-radius: 50%;
				background-color: transparent;
				height: 60px;
				width: 60px;
				font-size: 60px;
				line-height: 30px;
				font-weight: bold;
				&:focus {
					outline: none;
				}
			}

			button.donation-up {
				top: 50px;
				left: 10px;
			}

			button.donation-down {
				top: 120px;
				left: 55px;
			}
		}

		.donation-input, .donation-output {
			height: 200px;
		}

		.donation-input {
			text-align: right;
			position: absolute;
			z-index: 9;
			padding-right: 50px;

			.prefix {
				font-size: 1.2em;
			}

			.will-fund {
				font-size: 2em;
			}

			.amount-input {
				.input-group .input-group-addon {
					padding-left: 120px;
					z-index: 9; /* Must appear behind the sun graphic */
					padding-right: 0;
				}
				.input-group .form-control {
					padding-left: 0;
					color: @donation-number-fg
				}
				.form-control, .input-group-addon {
					background-color: @donation-amt-input-bg;
					border: none;
					border-radius: 0;
					box-shadow: none;
					font-size: 2.5em;
					height: inherit;
					z-index: 11; /* Must appear in front of the sun graphic */
				}
			}

			.donation-hand {
				position: absolute;
				left: 100px;
			}
		}

		.donation-arrow-right {
			position: absolute;
			top: 0;
			right: -25px;
			height: 200px;
		}

		/* The output column - weird margins and padding on left to make room for the arrow graphic between the columns */
		.donation-output {
			.output-number {
				font-size: 300%;
				color: @donation-number-fg;
			}

			.output-units {
				font-size: 200%;
			}
		}

		/* The wide down-arrow decoration flowing from the output column to the donate button */
		.donation-arrow-down {
			width: 100%;
			position: absolute;
		}

		.below-arrow {
			margin-top: 15px;
		}

		.gift-aid {
			width: 75%;
			float: left;
		}

		.donate-button {
			margin-right: 32px;

			button {
				&:focus {
					outline: none;
				}
				border: none;
				background-color: @donation-button-bg;
				color: white;
				font-size: 1.75em;
				padding-left: 1.25em;
				padding-right: 1.25em;
				/* Slightly hacky but using spec-standard behaviour:
				oversize radius clamped to largest non-overlapping value,
				resulting in circle-ended "capsule" shape */
				border-radius: 500px;
				float: right;
				margin-bottom: 10px;
			}			
		}
	}

	.donation-column {
		background-color: @charity-page-greybg;
		margin-top: 15px;
	}
}
