@import "colours.less";
@import "positioning.less";

#charity {
	.column {
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		background-color: white;

		ul.nav.nav-tabs {
			border-bottom: 5px solid @charity-page-greyline;
			.extend-content-to-sides(@bs-column-padding);
			li {
				margin-bottom: 0;
				&.active {
					a {
						background-color: @charity-page-greybg;
						&:after {
							content: " ";
							background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='20' version='1.1'><polyline fill='lightgrey' points='0,0 10,0 0,20'/></svg>");
						}
					}
				}
				a {
					border: none;
					border-radius: 0;
					margin: 0;
				}
			}
		}
	}

	.top-bands {
		position: fixed;
		top: @navbar-height;
		left: 0;
		width: 100%;
		.band1 {
			background: linear-gradient(to right, #819EB7, #C1DEF2);
			height: @band-1-height;
		}
		.band2 {
			background: linear-gradient(to right,#ACB09F, #D2D6C3);
			height: @band-2-height;
		}
		.band3 {
			background: linear-gradient(to right, #819EB7, #C1DEF2);
			height: @band-3-height;
		}
	}

	.impact-column {
		.header {
			background: #C1DEF2;
			.extend-bg-to-sides(@bs-column-padding);
			padding-top: @band-1-height;

			.charity-name {
				background-color: #D2D6C3;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 0;
				.extend-bg-to-sides(@bs-column-padding);
				line-height: @band-2-height;
			}
			.tags {
				color: white;
				text-transform: lowercase;
				margin-top: 0;
				margin-bottom: 0;
				border-left: 0;
				.extend-content-to-sides(@bs-column-padding);

				span {
					line-height: 32px;
				}

				&.why-tags {					
					span {
						border-left: 15px solid @why-tags;
						background-color: @why-tags-fade;
					}
				}
				&.where-tags {					
					span {
						border-left: 15px solid @where-tags;
						background-color: @where-tags-fade;
					}
				}

				a {
					color: inherit;
				}

			}

		}
	}

	.info-column {
		height: 100%;
		
		.header {
			.extend-bg-to-sides(@bs-column-padding);
			background-color: #D2D6C3;
			border-style: solid;
			border-top-color: #C1DEF2;
			border-bottom-color: #C1DEF2;
			border-width: @band-1-height 0 @band-3-height 0;
			line-height: @band-2-height;
		}

		.charity-about {
			.images {
				position: relative;
				height: 225px;
				margin-left: 25px;
				margin-right: 25px;
				margin-bottom: 25px;

				.charity-image, .charity-logo {
					position: absolute;
					bottom: 0;
					border-radius: 50%;
					border: 15px solid rgba(49, 77, 121, 0.5);

					img {
						border-radius: 50%;
						object-fit: cover;
						border-color: #314D79;
						border-style: solid;
					}
				}

				.charity-image {
					z-index: 10;
					left: 0;
					img {
						width: 175px;
						height: 175px;
						border-width: 3px
					}
				}
				.charity-logo {
					z-index: 20;
					right: 0;
					img {
						width: 125px;
						height: 125px;
						border-width: 10px;
					}
				}
			}

			.descriptions {
				.description-short {
					font-size: 120%;
				}

				.description-long {

				}
			}

			.url {
				font-size: 120%;
				width: 100%;
				text-align: center;
			}
		}

		.charity-extra {
			.extra-project {
				img.project-image {
					width: 100%;
				}
				.project-stories{
					.quote {
						color: @donation-number-fg;
					}
				}
			}
		}
	}


	.donation-impact {
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
		.project-image {
			img {
				width: 100%;
				max-height: 500px;
				object-fit: cover;
			}
		}

		.donation-amount {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 200px;
			height: 200px;
			border-radius: 0 100% 0 0;
			border: 5px solid @donation-amt-bg;
			border-bottom: none;
			border-left: none;
			background-color: @donation-amt-bg;
			overflow: hidden;
			color: @donation-amt-fg;
			input {
				border: none;
				border-radius: 0;
				background-color: @donation-amt-input-bg;
			}
			span.dropdown button {
				border: none;
				border-radius: 0;
				background-color: @donation-amt-input-bg;
			}
			.amount-buttons {
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 10px;

				button {
					border: 5px solid @donation-amt-fg;
					border-radius: 50%;
					background-color: transparent;
					&:focus {
						outline: none;
					}

					&.donation-up {
						height: 60px;
						width: 60px;
					}
					&.donation-down {
						height: 50px;
						width: 50px;
					}
				}
			}
			
		}

		.donation-input {
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;

			.money {
				font-size: 300%;
				.amount {
					color: @donation-number-fg;
				}
			}
		}

		.donation-output {
			.output-number {
				font-size: 300%;
				color: @donation-number-fg;
			}
			.output-units {
				font-size: 200%;
			}
		}

		.donate-button {
			button {
				&:focus {
					outline: none;
				}
				border: none;
				background-color: @donation-button-bg;
				color: white;
				/* Slightly hacky but using spec-standard behaviour:
				oversize radius clamped to largest non-overlapping value,
				resulting in circle-ended "capsule" shape */
				border-radius: 500px;
				float: right;
			}			
		}
	}

	.donation-column {
		background-color: @charity-page-greybg;
		.share-social-buttons {
			float: right;
			a {
				display: inline-block;
				font-size: 60px;
				width: 60px;
				height: 60px;
				border: none;
				border-radius: 50%;
				padding: 0;
				color: white;
				&.share-social-facebook {
					background-color: royalblue;
				}
				&.share-social-twitter {
					background-color: skyblue;
				}
				&.share-social-email {
					background-color: @donation-amt-bg;
				}
			}
		}
	}
}
