@import "colours.less";

.DonationForm {
	width: 100%;
}

.sogive-form-inline {

}

.sogive-donate-btn {
	width: 24% !important;
	height: 7vh !important;
	font-size: 1.5em !important;
	line-height: 1.33 !important;
	border-radius: 35px !important;
	color: @colour-05 !important;
	background-color: @colour-01 !important;
	border-color: transparent !important;
}

.amount-btn {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.amount-btn.btn-primary {
	background-color: @colour-04 !important;
	border-color: @colour-04 !important;
}

.amount-btn:focus {
	background-color: @colour-04;
}

.btn.active {
	background-color: @colour-04 !important;
	color: @colour-05 !important;
}

.giftAid {
	border-bottom: 1px solid @colour-01;
}

.no-padding {
	padding: 0 !important;
}

.social-media-btn {
	border: none;
	height: auto;
}

.twitter-btn {
	color: #1DA1F3;
}

.twitter-btn:hover {
	color: #1DA1F3;
}


.facebook-btn {
	color: 	#3b5998;
}

.facebook-btn:hover {
	color: #3b5998;
}
