/* Corrado's original palette */
/* Palette Example 01
@colour-01: #77C9D4;
@colour-02: #57BC90;
@colour-03: #015249;
@colour-04: #A5A5AF;
@colour-05: #FFFFFF;
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
.avoid-navbar {
  margin-top: 100px;
}
#navbar {
  background-color: #262741;
}
.navbar-inverse {
  background-color: #262741;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #262741;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
img.logo {
  width: 32px;
  max-height: 32px;
}
img.logo-small {
  max-width: 16px;
  max-height: 16px;
}
img.logo-large {
  max-width: 64px;
  max-height: 64px;
}
.cheapverticalspace {
  height: 10em;
}
.smallverticalspace {
  height: 2em;
}
.slide-hide {
  transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
}
.hide-left,
.hide-right,
.hide-down {
  position: absolute !important;
  margin-top: inherit;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.hide-left {
  transform: translateX(-30%);
}
.hide-right {
  transform: translateX(30%);
}
.hide-down {
  transform: translateY(100%);
}
.spinning {
  animation: spin 3s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.SearchResults {
  margin-top: 50px;
}
.num-results {
  border-bottom: 1px solid #a49f79;
  font-size: 1em;
  margin-bottom: 2vh;
}
.unready-results {
  margin-top: 10em;
  margin-bottom: 5em;
  border-bottom: 1px dashed #f04b47;
}
.SearchResult {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #f04b47;
}
.FeaturedSidebar.affix-top {
  position: static;
  margin-top: 3vh;
}
.FeaturedSidebar.affix {
  position: fixed;
  top: 4vh;
}
.charity-logo {
  height: 64px;
  width: auto;
}
.featured-charities-header {
  font-size: 1em;
  color: #262741;
  border-bottom: 2px solid #f04b47;
}
.btn-showall {
  background-color: #a49f79;
  color: #ffffff;
  width: 9vh;
  height: 3vh;
  border-radius: 7%;
  font-size: 1em;
}
.btn-showall-mobile {
  background-color: #a49f79;
  color: #ffffff;
  width: 13vh;
  height: 5vh;
  border-radius: 7%;
  font-size: 1em;
}
.sogive-search {
  width: 100% !important;
}
.clear-search {
  background-color: transparent;
  color: grey;
  border-radius: none;
  border-color: transparent;
}
.clear-search-btn {
  background-color: transparent;
  color: grey;
  border-radius: 0px;
  border-color: transparent;
  border-bottom: 1px solid #262741;
  height: 8vh;
}
.clear-search-btn:hover,
.clear-search-btn:active,
.clear-search-btn:focus,
.clear-search-btn:visited {
  background-color: transparent;
  color: grey;
  border-radius: 0px;
  border-color: transparent;
  border-bottom: 1px solid #262741;
  height: 8vh;
}
.sogive-search-box {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #262741;
  border-radius: 0px !important;
  outline: 0;
  height: 8vh !important;
  font-size: 2em !important;
}
.sogive-search-box-mobile {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #262741;
  border-radius: 0px !important;
  outline: 0;
  height: 8vh !important;
  font-size: 1em !important;
}
img.project-image {
  max-width: 300px;
  max-height: 300px;
}
.charity-logo-div {
  width: 13vh;
  height: auto;
}
.CharityProfile-div {
  border-bottom: 1px solid #a49f79;
}
.CharityProfile {
  font-size: 1em;
}
.project-image {
  width: 30vh;
  height: auto;
}
.project-image-mobile {
  max-width: 100%;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
}
.upper-padding {
  padding-top: 3vh;
}
.upper-margin {
  margin-top: 3vh;
}
.donateto {
  background-color: #a49f79;
  font-size: 1em;
  color: #ffffff;
  border-bottom: 1px solid #262741;
  padding-left: 2%;
  margin: 1% auto 2%;
}
.charity-project-title-div {
  margin-top: 3vh;
  border-bottom: 1px solid #a49f79;
}
.charity-project-div {
  margin-top: 1vh;
}
.project-name {
  font-size: 1em;
  color: #262741;
}
.inputs-outputs {
  border-top: 1px solid #262741;
  border-bottom: 1px solid #262741;
  border-left: 1px solid #262741;
  border-right: 1px solid #262741;
}
.inputs {
  border-right: 1px solid #262741;
}
.project-story-text {
  text-align: center;
}
.outputs-mobile {
  padding-bottom: 15px;
}
.citation-url {
  font-size: 85%;
  word-wrap: break-word;
}
/* footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.sogive-logo-footer {
  height: 50px;
  margin: 5px;
  float: left;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexbox-1row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.container .row .col-center {
  float: none;
  margin: 0 auto;
}
.login-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
img.charity-logo {
  width: 10vh;
  height: auto;
}
img.charity-logo-mobile {
  width: 30%;
  height: auto;
}
.colour-03-text {
  color: #262741;
}
body {
  font-family: 'Roboto';
  color: #262741;
}
.impact-text {
  text-align: center;
}
.impact-units-amount {
  font-size: 2.5em;
  margin-bottom: 0;
}
.impact-text-horizontal-div {
  width: 100%;
}
.impact-text-horizontal {
  text-align: justify;
}
.sogive-footer {
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
  position: relative;
  bottom: 0;
}
.sogive-footer-mobile {
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
  position: relative;
  bottom: 0;
}
.sogive-footer-text {
  color: #262741;
}
.col-xs-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-2 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-3 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-4 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-5 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-6 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-7 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.col-xs-8 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.full-width {
  width: 100% !important;
}
