.avoid-navbar {
  margin-top: 100px;
}
img.logo {
  width: 32px;
  max-height: 32px;
}
img.logo-small {
  max-width: 16px;
  max-height: 16px;
}
img.logo-large {
  max-width: 64px;
  max-height: 64px;
}
.slide-hide {
  transition: opacity 0.25s, transform 0.25s, visibility 0.25s;
}
.hide-left,
.hide-right,
.hide-down {
  position: absolute !important;
  margin-top: inherit;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.hide-left {
  transform: translateX(-30%);
}
.hide-right {
  transform: translateX(30%);
}
.hide-down {
  transform: translateY(100%);
}
.spinning {
  animation: spin 3s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.SearchResults {
  margin-top: 50px;
}
img.project-image {
  max-width: 300px;
  max-height: 300px;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexbox-1row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.container .row .col-center {
  float: none;
  margin: 0 auto;
}
.login-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
img.charity-logo {
  max-width: 192px;
  max-height: 192px;
}
