// Styling for the SoGive app
@import "colours.less";

.avoid-navbar {
    margin-top:100px;
}

#navbar {
	background-color: @colour-03;
}

.navbar-inverse {
	background-color: @colour-03;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: @colour-03;
}


.btn-showall {
	background-color: @colour-02;
	color: @colour-05;
	width: 9vh;
	height: 3vh;
	border-radius: 7%;
	font-size: 1em;
}

.sogive-search {
	width: 100% !important;
}

.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.clear-search {
	background-color: transparent;
	color: grey;
	border-radius: none;
	border-color: transparent;
}

.clear-search-btn {
	background-color: transparent;
	color: grey;
	border-radius: 0px;
	border-color: transparent;
	border-bottom: 1px solid @colour-03;
	height: 8vh;
	&:hover, &:active, &:focus, &:visited {
		background-color: transparent;
		color: grey;
		border-radius: 0px;
		border-color: transparent;
		border-bottom: 1px solid @colour-03;
		height: 8vh;
	}
}

.sogive-search-box {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid @colour-03;
	border-radius: 0px !important;
	outline: 0;
	height: 8vh !important;
	font-size: 2em !important;

}

.featured-charities-header {
	font-size: 1em;
	color: @colour-03;
	border-bottom: 2px solid @colour-01;
}

.featured-charities {
}


img.logo {
	width:32px;	
	max-height:32px;	
}
img.logo-small {
	max-width:16px;	
	max-height:16px;	
}
img.logo-large {
	max-width:64px;	
	max-height:64px;	
}

.sogive-logo-footer {
	width: 12vh;
	height: auto;
}

.cheapverticalspace {
	height: 10em;
}

@import "animation.less";

// Page specific stuff
@import "SearchPage.less";
@import "CharityPage.less";

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.flexbox-1row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center; // flex-start | flex-end | center | space-between | space-around;
}
.flexitem {

}

// Let any singleton column be centred in its row
.container .row .col-center {
	float: none;
	margin: 0 auto;
}

// Make the login widget a modal overlay
.login-modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

img.charity-logo {
	width: 10vh;
	height: auto;
}

.colour-03-text {
	color: @colour-03;
}

body {
	color: @colour-03;
}