@import "colours.less";

.SearchResults {
    margin-top: 50px;
}

.num-results {
	border-bottom: 1px solid @colour-02;
	font-size: 1em;
	margin-bottom: 2vh;
}

.unready-results {
	margin-top: 10em;
	margin-bottom: 5em;
	border-bottom: 1px dashed @colour-01;
}

.SearchResult {
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-bottom: 1px solid @colour-01;
}

.FeaturedSidebar.affix-top {
	position: static;
	margin-top: 3vh;
}

.FeaturedSidebar.affix {
	position: fixed;
	top: 4vh;
}

.charity-logo {
	height: 64px;
	width: auto;
}