/* Corrado's original palette */
/* Palette Example 01
@colour-01: #77C9D4;
@colour-02: #57BC90;
@colour-03: #015249;
@colour-04: #A5A5AF;
@colour-05: #FFFFFF;
*/
.SearchResults {
  margin-top: 50px;
}
.num-results {
  border-bottom: 1px solid #A49F79;
  font-size: 1em;
  margin-bottom: 2vh;
}
.unready-results {
  margin-top: 10em;
  margin-bottom: 5em;
  border-bottom: 1px dashed #F04B47;
}
.SearchResult {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #F04B47;
}
.SearchResult .charity-logo {
  height: 64px;
  width: auto;
}
.FeaturedSidebar.affix-top {
  position: static;
  margin-top: 3vh;
}
.FeaturedSidebar.affix {
  position: fixed;
  top: 4vh;
}
.featured-charities-header {
  font-size: 1em;
  color: #262741;
  border-bottom: 2px solid #F04B47;
}
.btn-showall {
  background-color: #A49F79;
  color: #FFFFFF;
}
.sogive-search {
  width: 100% !important;
}
.sogive-search-box {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #262741;
  border-radius: 0px !important;
  outline: 0;
  height: 8vh !important;
  font-size: 150% !important;
}
.field-clear-button {
  position: absolute;
  right: 60px;
  z-index: 10;
  font-size: 150%;
}
