# To install:
# mkdir -p mkdir -p ~/.config/systemd/user
# ln -s ~/sogive/config/sogive.service ~/.config/systemd/user/sogive.service
# systemctl --user daemon-reload
# systemctl --user enable sogive.service

# See https://linuxhandbook.com/create-systemd-services/
# See https://baykara.medium.com/how-to-daemonize-a-process-or-service-with-systemd-c34501e646c9
[Unit]
Description=Lets run SoGive

[Service]
Type=simple 
#User=winterwell
#Group=winterwell
ExecStart=/bin/bash /home/winterwell/sogive/run-java.sh

[Install]
WantedBy=default.target
# was multi-user.target
