@import "colours.less";
@import "positioning.less";

.HomePage {
	.gradient {
		height: 50vh;
		background: linear-gradient(135deg, #79D579 0%, #005484 100%);
		margin-right: -15px;
		margin-left: -15px;
	}
	
	.worldImage {
		background-image: url('/img/world.png');
		background-size: cover;
		background-position: center;
		margin: auto;
		height: 100%;

        h2, p, a {
            color: white;
        }
    }
}