@import "colours.less";
@import "positioning.less";

.HomePage {
	.gradient {
		height: 500px;
		background: linear-gradient(135deg, #79D579 0%, #005484 100%);
		margin: 0 -15px;
		overflow: hidden;
	}
	
	.worldImage {
		background-image: url('/img/world.png');
		background-size: cover;
		background-position: center;
		margin: auto;
		height: 100%;

        h2, p, a {
            color: white;
						text-align: left;
        }

				p {
					font-size: 1.2rem;
				}
    }
}

h2 {
	text-transform: unset !important;
	color: @green;
	text-align: center;
}

.top-cards {
	max-height: 380px;
	max-width: 125%;
}

@media (max-width: 768px) {
	.top-cards {
		max-width: 100%;
	}
}

#method-card, #contact-card {
	overflow: hidden;
	margin: 0 -1em;
}

// FQA Style
.faq-body {
	background-color: unset;
}

.faq-row {
	margin: 1em 0;
	padding: 0 !important;
	border: 1px solid #757575 !important;
	border-radius: 10px;
}

.row-title {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.row-title-text {
	margin: 0 1rem;
}

.row-content-text {
	margin: 1rem;
}

.row-title.expanding {
	background-color: @dark-turquoise;
	border-bottom: 1px solid #757575;
	transition: background-color .1s linear;
	transition: border-bottom .1s linear;

	.icon-wrapper svg {
		fill: white !important;
		transition: fill .1s linear;
	}
	.row-title-text {
		color: white;
		transition: color .1s linear;
	}
}

.row-title.expanded {
	background-color: @dark-turquoise;
	border-bottom: 1px solid #757575;

	.icon-wrapper svg {
		fill: white !important;
	}
	.row-title-text {
		color: white;
	}
}

.row-title.closing {
	background-color: white;
	transition: background-color .1s linear;
}